<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.buaadb.mapper.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.example.buaadb.entity.Manager">
    <id column="Mno" jdbcType="INTEGER" property="mno" />
    <result column="Mname" jdbcType="VARCHAR" property="mname" />
    <result column="Mpassword" jdbcType="VARCHAR" property="mpassword" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Mno, Mname, Mpassword
  </sql>
  <select id="selectByExample" parameterType="com.example.buaadb.entity.ManagerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from manager
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manager
    where Mno = #{mno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from manager
    where Mno = #{mno,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.buaadb.entity.ManagerExample">
    delete from manager
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.buaadb.entity.Manager">
    insert into manager (Mno, Mname, Mpassword
      )
    values (#{mno,jdbcType=INTEGER}, #{mname,jdbcType=VARCHAR}, #{mpassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.buaadb.entity.Manager">
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mno != null">
        Mno,
      </if>
      <if test="mname != null">
        Mname,
      </if>
      <if test="mpassword != null">
        Mpassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mno != null">
        #{mno,jdbcType=INTEGER},
      </if>
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mpassword != null">
        #{mpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.buaadb.entity.ManagerExample" resultType="java.lang.Long">
    select count(*) from manager
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update manager
    <set>
      <if test="record.mno != null">
        Mno = #{record.mno,jdbcType=INTEGER},
      </if>
      <if test="record.mname != null">
        Mname = #{record.mname,jdbcType=VARCHAR},
      </if>
      <if test="record.mpassword != null">
        Mpassword = #{record.mpassword,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update manager
    set Mno = #{record.mno,jdbcType=INTEGER},
      Mname = #{record.mname,jdbcType=VARCHAR},
      Mpassword = #{record.mpassword,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.buaadb.entity.Manager">
    update manager
    <set>
      <if test="mname != null">
        Mname = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mpassword != null">
        Mpassword = #{mpassword,jdbcType=VARCHAR},
      </if>
    </set>
    where Mno = #{mno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.buaadb.entity.Manager">
    update manager
    set Mname = #{mname,jdbcType=VARCHAR},
      Mpassword = #{mpassword,jdbcType=VARCHAR}
    where Mno = #{mno,jdbcType=INTEGER}
  </update>
</mapper>